<app-header></app-header>
<div class="app-weather">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="app-weather__select">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Locations</label>
                        </div>
                        <select class="custom-select" name="citySelect" #citySelect
                            (change)='onSelected(citySelect.value)'>
                            <option selected>Choose...</option>
                            <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                        </select>
                    </div>
                </div>
                <app-weather-highlight [data]="currentData" [selected]="selected" [loadingHighlight]="loadingHighlight">
                </app-weather-highlight>
                <app-weather-instances [data]="allDatas" [loadingInstances]="loadingInstances"></app-weather-instances>
            </div>
        </div>
    </div>
</div>